.DS_Store
gestureRecognition/gestureRecognition.xcodeproj/project.xcworkspace/xcuserdata/dorianbauer.xcuserdatad/UserInterfaceState.xcuserstate
gestureRecognition/gestureRecognition.xcodeproj/project.xcworkspace