.DS_Store
gestureRecognition/gestureRecognition.xcodeproj/project.xcworkspace/xcuserdata/dorianbauer.xcuserdatad/UserInterfaceState.xcuserstate
gestureRecognition/gestureRecognition.xcodeproj/project.xcworkspace
gestureRecognition/gestureRecognition.xcodeproj/project.xcworkspace/xcuserdata/dorianbauer.xcuserdatad/UserInterfaceState.xcuserstate

.gitignore

gestureRecognition/gestureRecognition.xcodeproj/xcuserdata/dorianbauer.xcuserdatad/xcschemes/xcschememanagement.plist

gestureRecognition/gestureRecognition.xcodeproj/xcuserdata/dorianbauer.xcuserdatad/xcschemes/gestureRecognition.xcscheme

gestureRecognition/gestureRecognition.xcodeproj/xcuserdata/dorianbauer.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
